1. Syntax
2. Semantics
3. Single Comments
4. Multiline comments
5. Variable Assignment
6. Intentations
7. Block of staments
8. Intentation Error
9. Name Error
10. Type inference

Syntax: The rules and structure that define how Python code must be written so it can be understood by the interpreter.

Rules:

1. Case Sensitivity

Symantics: The meaning or behavior of the code â€” what the code does when it runs.

In [4]:
## This is the comments

'''
This is a multiline comment
written using triple single quotes.
'''


print("Triple quote works in the app.py not in the jupiter notebook mostly")

Triple quote works in the app.py not in the jupiter notebook mostly

In [5]:
## Variable
Name="Krish"
name="Naik"
print(Name)
print(name)

Krish
Naik

In [27]:
## Indentation - define a block of code. 
## 4 space or tab space
age=32
if age>30:
    print(age)
print(age)

32
32

In [ ]:
## Line Continuation (\)

total=1+2+3+4+5+6+\
7+8+9
print(total)

45

In [29]:
## Multiple statements
x=5; y=10; z = x+y; print(z)

15

In [30]:
## Understanding Semantics in python
# Variable Assignment
age=32 ##age is an integer
name= "Krish" ## Name is a string

In [ ]:
## Type Inference

print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

In [ ]:
## Inentation error Error
age=32
if age>30:
print(age)

IndentationError: expected an indented block after 'if' statement on line 2 (3004092960.py, line 3)

In [ ]:
# Name Error
a=b

NameError: name 'b' is not defined